body {
	background-color: gray;
}

.draggable {
	width: 25%;
	float: left;
}

#speach {
	position: relative;
}

#thought {
	position: relative;
}

#output {
	position: absolute;
}

#dragZone {
	width: 100%;
	height: 600px;
	border: 2px solid;
}







