body {
	background-color: #CCC9C5;
}

#t {
	margin: 5% 10% 0 10%;
	width: 75%;
}

h1 {
	text-align: center;
	font-size: 800%;
	padding: 8% 0;
	margin: 0;
	color: #fff;
	line-height: 3px;
	font-family: sans-serif;
}

h2 {
	text-align: center;
	font-size: 100%;
	padding: 0;
	margin: 0;
	color: #000;
	font-family: sans-serif;
	font-weight: bold;
}

.draggable {
	width: 10%;
}

#scroll {
	float: left;
}

.can {
	float: left;
	width: 55%;
	/*position: absolute;*/
	height: 520px;
	border: 1px solid #fff;
	background-color: #f1f1f1;
	padding: 0;
	z-index: 0;
	margin: 6% 0;
}

img {
	width: 100%;
}

#btnSave { 
	float: left;
	width: 5%;
	margin-right: 1%; 
	padding: 1%;
	text-align: center;
	background-color: #fff;
	color: #000;
	border-radius: 8%;
	font-family: sans-serif;
	text-decoration: none;
}

#btnSave:hover {
	opacity: 0.5;
}

.output p {
	position: absolute;
	top: 5%;
	left: 39%;
	font-size: 11px;
	font-family: sans-serif;
	color: #fff;
}

#th #sp {
	font-family: sans-serif;
}










