@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);

body{
	background-color: #fff;
}

img {
	float: left;
	z-index: 1;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

#title {
	color: #000;
	opacity: 0.5;
	font-size: 75px;
	text-align: center;
	font-family: 'Oswald', sans-serif;
}

.cathover {
	opacity: 0.9; 
	width: 100%;
	height: 650px;
	left: 10%;
	z-index: 100;
	color: #000;
} 

.cathover p {
	font-size: 20px;
	padding: 1% 15% 1% 17%;
	margin: 0;
	text-align: left;
	font-family: lucida, sans-serif;
	font-weight: 100;
	color: #808080;
}

#tp {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	letter-spacing: 1px;
	font-size: 30px;
	text-align: center;
}

.wrapper {
	position: relative;
}

.over {
	background-color: #027F62;
	opacity: 0.5;
	position: absolute;
	top: 0;
	margin-top: 13.25%;
	padding: 2%; 
	width: 80%;
	height: 350px;
	left: 10%;
	z-index: 100;
	font-size: 65px;
	font-family: 'Oswald', sans-serif;
	text-align: center;
	color: #fff;
}

.over p {
	font-size: 50px;
	padding: 0 5% 4% 5%;
	font-family: lucida, sans-serif;

}

#faces {
	padding: 0 10% 0 10%;
	margin: 0;
	font-size: 20px;
}

.clear {
	clear: both;
}
